
/* For Chrome 4.0+, Safari 4.0+ and Opera 15.0 */
@-webkit-keyframes iconmove {
from {top:-15px;}
to {top:0px;}
}
/* For Firefox 5.0+ */
@-moz-keyframes iconmove {
from {top:-15px;}
to {top:0px;}
}
/* For Opera 12.0+ */
@-o-keyframes iconmove {
from {top:-15px;}
to {top:0px;}
}
/* Standard Syntax */
@keyframes iconmove {
from {top:-15px;}
to {top:0px;}
}

/* For Chrome 4.0+, Safari 4.0+ and Opera 15.0 */
@-webkit-keyframes dropdown {
from {margin-left:-20px;opacity:0;}
to {margin-left:0px;opacity:1;}
}
/* For Firefox 5.0+ */
@-moz-keyframes dropdown {
from {margin-left:-20px;opacity:0;}
to {margin-left:0px;opacity:1;}
}
/* For Opera 12.0+ */
@-o-keyframes dropdown {
from {margin-left:-20px;opacity:0;}
to {margin-left:0px;opacity:1;}
}
/* Standard Syntax */
@keyframes dropdown {
from {margin-left:-20px;opacity:0;}
to {margin-left:0px;opacity:1;}
}

/* For Chrome 4.0+, Safari 4.0+ and Opera 15.0 */
@-webkit-keyframes subdropdown {
from {opacity:0;margin-top:-70px;}
to {opacity:1;margin-top:-50px;}
}
/* For Firefox 5.0+ */
@-moz-keyframes subdropdown {
from {opacity:0;margin-top:-70px;}
to {opacity:1;margin-top:-50px;}
}
/* For Opera 12.0+ */
@-o-keyframes subdropdown {
from {opacity:0;margin-top:-70px;}
to {opacity:1;margin-top:-50px;}
}
/* Standard Syntax */
@keyframes subdropdown {
from {opacity:0;margin-top:-70px;}
to {opacity:1;margin-top:-50px;}
}

/* For Chrome 4.0+, Safari 4.0+ and Opera 15.0 */
@-webkit-keyframes moveright {
from {right:20px;}
to {right:5px;}
}
/* For Firefox 5.0+ */
@-moz-keyframes moveright {
from {right:20px;}
to {right:5px;}
}
/* For Opera 12.0+ */
@-o-keyframes moveright {
from {right:20px;}
to {right:5px;}
}
/* Standard Syntax */
@keyframes moveright {
from {right:20px;}
to {right:5px;}
}

